/* common */
.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0
}

.ico-hairshop {
  display: inline-block;
  background: url(../img/ico_hairshop.png) no-repeat;
  text-indent: -9999px;
}

/* /////common/////// */


/* header */
.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 27px 50px 0 53px;
  z-index: 100;
}

.logo {
  overflow: hidden;
  float: left;
  display: block;
  width: 200px;
  height: 38px;
  background: url(../img/img_logo.png) no-repeat;
  text-indent: -99999px;
}

.ico-share {
  float: right;
  display: block;
  width: 48px;
  height: 48px;
  background-position: -55px -150px;
}
/* //header */
/* section-1 */
.section-1{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 background: #f7f4ee;
}
.hairshop-video-wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 578px;
  height: 700px;
  margin: -350px 0 0 -289px;
}

.video-menu{
  overflow: hidden;
}
.video-menu li{
  float: left;
  border-right: 5px solid #000;
}
.video-menu li:last-child{
  border-right: 0px;
}
.video-menu li a{
  display: block;
  width: 186px;
  height: 74px;
  text-indent: -9999px;
}
.video-content{
  position: relative;
  height: 405px;
  padding-top: 4px;
  background: url(../img/body_hairshop.jpg) no-repeat;
}
.video-item{
  display: none;
  width: 567px;
  height: 319px;
  margin: 0 auto;
}

.video-item iframe{
  width: 100%;
  height: 100%;
}
.style-menu{
  background: url(../img/video_btn1.png) center center no-repeat;
}
.designer-menu{
  background: url(../img/video_btn2.png) no-repeat;
}
.review-menu{
  background: url(../img/video_btn3.png) no-repeat;
}
.on{
  display: block;
}
